body{
    background-color: #decce1;
    font-family: Meie Script, cursive;
  }
.img-fluid{
    max-width: 300%;
    height: auto;
  }
.img-container {
  position: relative;
  align-items: center;
  color: rgb(221, 93, 178);
  border: 5px solid #000000;
  border-top: 10px solid #000000;
   border-radius-right: 10px;
   border-bottom: 10px solid #000000;
   border-radius-left: 10px;
    max-width: 300px;
    margin: 20px auto;

}
.h1{
    text-align: center;
    color: #000000;
    font-size: 3.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.accordion-flush{
    background-color: #f7c1f2;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
}