body{
    background-color: #decce1;
    font-family: Meie Script, cursive;
  }
  h1{
    color: rgb(7, 1, 24);
    text-align: center;
  }
.img-fluid{
    max-width: 300%;
    height: auto;
  }
.img-container {
  position: relative;
  align-items: center;
  color: rgb(221, 93, 178);
  border: 5px solid #000000;
  border-top: 10px solid #000000;
   border-bottom: 10px solid #000000;
    max-width: 300px;
    margin: 20px auto;

}
.accordion-flush{
    background-color: #f7c1f2;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
    }
.myinfoAccordion{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #000000;
    background-color: #fde4fa;
}
