body{
    background-color: #d76bea;
    font-family: Meie Script, cursive;
  }
.img-fluid{
    max-width: 300%;
    height: auto;
  }
.img-container {
  position: relative;
  align-items: center;
  color: rgb(221, 93, 178);
  border: 5px solid #000000;
  border-radius: 10px;

}
.accordion-flush{
    background-color: #f7c1f2;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
}