.img-fluid{
    max-width: 100%;
    height: auto;
}
.image-container {
    max-width: 100%;
    height: auto;
  }
.img-container {
  position: relative;
  align-items: center;
  color: rgb(221, 93, 178);
  border: 5px solid #000000;
  border-radius: 10px;
    margin: 20px auto;
    max-width: 300px;

}
